/* News feed element */
.newsElement {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 0.5em;
    margin: 2rem;
    break-inside: avoid;
    border-radius: 1rem;
    background-color: #F0FAF5;
    box-shadow: 0.17rem 0.17rem 1rem 0.5rem rgba(196, 199, 206, 0.3);
    overflow: clip;
}
.no-category {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: rgba(129, 129, 129, 0.3);
    border-radius: 5rem;
}

.Authentication {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 5rem;
}

.ChatGPT {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: rgba(85, 255, 0, 0.3);
    border-radius: 5rem;
}

.Design {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: rgba(233, 255, 0, 0.3);
    border-radius: 5rem;
}

.Technology {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: rgba(255, 132, 0, 0.3);
    border-radius: 5rem;
}

.Productivity {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: rgba(142, 0, 255, 0.3);
    border-radius: 5rem;
}

/* image element of article */
.newsElement-image {
    border-radius: 1rem;
    margin: 3%;
    box-shadow: 0.3rem 0.3rem 1rem 1rem rgba(196, 199, 206, 0.5);
    width: 94%;
}
.newsElement:hover {
    transition-duration: 0.1s;
    scale: 104%;
    box-shadow: 0.5rem 0.5rem 1rem 1rem rgba(196, 199, 206, 0.8)
}
/* title of news feed element. */
.title {
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 1000;
}

/* text preview */
.content {
    margin-top: 1rem;
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
}
/* article published. */
.pubDate {
    color: #333333;
    font-size: 1.3rem;
    margin: 0.5rem;
    text-align: right;
}

/* author of the article */
.author {
    font-weight: 800;
    margin: 1rem;
    color: #333333;
}
.clickable {
    flex-grow: 1;
}
/* news feed element buttons */
.user-options {
    flex-grow: 1;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    border: none;
}

.like-button {
    margin-bottom: 1rem;
}

.like-button:hover {
    scale: 130%;
    background-color: #f2b5d4;
    border-radius: 11rem;
}

.flag-button {
    margin-bottom: 1rem;
    background: transparent none;
}
.flag-button:hover {
    scale: 130%;
    background-color: #72d5a1;
    border-radius: 11rem;
}

.remove-button {
    margin-right: 10%;
    margin-bottom: 1rem;
}
.remove-button:hover {
    scale: 130%;
    background-color: #3bcfef;
    border-radius: 11rem;
}
