/* News feed element */
.newsElement {
    padding: 0.5em;
    margin: 2rem;
    break-inside: avoid;
    border-radius: 1rem;
    background-color: #F0FAF5;
    box-shadow: 0.17rem 0.17rem 1rem 0.5rem rgba(196, 199, 206, 0.3);
    overflow: clip;
}
.Authentication {
    .newsElement {
        box-shadow: 0.17rem 0.17rem 1rem 0.5rem rgba(0, 77, 255, 0.5);
    }
    .newsElement:hover {
        transition-duration: 0.1s;
        scale: 104%;
        box-shadow: 0.5rem 0.5rem 1rem 1rem rgba(0, 77, 255, 0.5)
    }
}
.ChatGPT {
    .newsElement {
        box-shadow: 0.17rem 0.17rem 1rem 0.5rem rgba(0, 255, 192, 0.3);
    }
    .newsElement:hover {
        transition-duration: 0.1s;
        scale: 104%;
        box-shadow: 0.5rem 0.5rem 1rem 1rem rgba(0, 255, 192, 0.3)
    }
}
.Design {
    .newsElement {
        box-shadow: 0.17rem 0.17rem 1rem 0.5rem rgba(241, 0, 255, 0.3);
    }
    .newsElement:hover {
        transition-duration: 0.1s;
        scale: 104%;
        box-shadow: 0.5rem 0.5rem 1rem 1rem rgba(241, 0, 255, 0.3)
    }
}
.Technology {
    .newsElement {
        box-shadow: 0.17rem 0.17rem 1rem 0.5rem rgba(255, 239, 0, 0.3);
    }
    .newsElement:hover {
        transition-duration: 0.1s;
        scale: 104%;
        box-shadow: 0.5rem 0.5rem 1rem 1rem rgba(255, 239, 0, 0.3)
    }
}
.Productivity {
    .newsElement {
        box-shadow: 0.17rem 0.17rem 1rem 0.5rem rgba(255, 0, 0, 0.3);
    }
    .newsElement:hover {
        transition-duration: 0.1s;
        scale: 104%;
        box-shadow: 0.5rem 0.5rem 1rem 1rem rgba(255, 0, 0, 0.3)
    }
}
/* image element of article */
.newsElement-image {
    border-radius: 1rem;
    margin: 3%;
    box-shadow: 0.3rem 0.3rem 1rem 1rem rgba(196, 199, 206, 0.5);
    width: 94%;
}
.newsElement:hover {
    transition-duration: 0.1s;
    scale: 104%;
    box-shadow: 0.5rem 0.5rem 1rem 1rem rgba(196, 199, 206, 0.8)
}
/* title of news feed element. */
.title {
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* text preview */
.content {
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
}
/* article published. */
.pubDate {
    color: #333333;
    font-size: 1.3rem;
    margin: 0.5rem;
    text-align: right;
}

/* author of the article */
.author {
    font-weight: 800;
    margin: 1rem;
    color: #333333;
}

/* news feed element buttons */
.user-options {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    border: none;
}

.like-button {
    margin-bottom: 1rem;
}

.like-button:hover {
    scale: 130%;
    stroke: #f2b5d4;
}

.flag-button {
    margin-bottom: 1rem;
    background: transparent none;
}
.flag-button:hover {
    scale: 130%;
}

.remove-button {
    margin-right: 10%;
    margin-bottom: 1rem;
}
.remove-button:hover {
    scale: 130%;
}
