.footer {
    position: sticky;
    margin-top: 4rem;
    left: 0;
    right: 0;
    background: rgba(144, 151, 253);
    padding: 2rem 2%;
    display: flex;
    align-items: center;
    z-index: 1000;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.fcontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name-year {
    left: 45%;
}

.footer-list {
    list-style-type: none;
}
