.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 2rem;
    background: rgba(144, 151, 253, 0.95);
    padding: 2rem 2%;
    display: flex;
    align-items: center;
    z-index: 1000;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem rgba(196, 199, 206, 0.3);
}

.header .logo {
    font-size: 3rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 40px;
    margin-right: 44vw;
}
.header img{
    height: 10rem;
    #margin-right: 1rem;
}
.header img:hover {
    animation: squat 0.75s;

}
.navbar button {
    font-size: 1vw;
    padding: 0 1.5rem 0;
    color: #F0FAF5;
    border: none;
    background: none;
}
/* hover */
.read-later-news:hover {
    color: #9ddcb8;
    transform: rotateY(20deg);
}

.removed-news:hover {
    color: #7bdff2;
    transform: rotateY(20deg);
}

.liked-news:hover{
    color: #f2b5d4;
    transform: rotateY(20deg);
}
/* toggle animations. */
.liked-news.toggled {
    display: inline-block;
    animation: wiggle 1s;
    color: #f2b5d4;
}
.read-later-news.toggled {
    display: inline-block;
    animation: wiggle 1s;
    color: #72d5a1;
}
.removed-news.toggled {
    display: inline-block;
    animation: wiggle 1s;
    color: #3bcfef;
}

@keyframes wiggle {
    0%, 100% { transform: rotate(0deg); }
    33% { transform: rotate(-15deg); }
    66% { transform: rotate(15deg); }
}
@keyframes squat {
    0%, 100% { transform: scaleY(100%); }
    25%, 75% { transform: scaleY(75%); }
    50% { transform: scaleY(125%); }
}