.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 3rem;
    background: rgba(144, 151, 253, 0.95);
    display: flex;
    align-items: center;
    z-index: 1000;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem rgba(196, 199, 206, 0.3);
}
/* hover */
.read-later-news:hover {
    color: #9ddcb8;
    transform: rotateY(20deg);
}

.removed-news:hover {
    color: #7bdff2;
    transform: rotateY(20deg);
}

.liked-news:hover{
    color: #f2b5d4;
    transform: rotateY(20deg);
}
/* toggle animations. */
.liked-news.toggled {
    display: inline-block;
    animation: wiggle 1s;
    color: #f2b5d4;
}
.read-later-news.toggled {
    display: inline-block;
    animation: wiggle 1s;
    color: #72d5a1;
}
.removed-news.toggled {
    display: inline-block;
    animation: wiggle 1s;
    color: #3bcfef;
}

@keyframes wiggle {
    0%, 100% { transform: rotate(0deg); }
    33% { transform: rotate(-15deg); }
    66% { transform: rotate(15deg); }
}
@keyframes squat {
    0%, 100% { transform: scaleY(100%); }
    25%, 75% { transform: scaleY(75%); }
    50% { transform: scaleY(125%); }
}
@media (width < 768px) {
    header img {
        height: 25vw;
    }

    .header img:hover {
        animation: squat 0.75s;
    }

    .navbar {
        justify-content: space-evenly;
        margin-left: 5vw;
        word-break: keep-all;
    }

    .navbar button {
        font-size: 3.5vw;
        padding: 0 1.5rem 0;
        color: #F0FAF5;
        border: none;
        background: none;
    }
}
@media (width >= 768px) {
    header img {
        height: 15vw;
    }

    .header img:hover {
        animation: squat 0.75s;
    }

    .navbar {
        justify-content: space-evenly;
        margin-left: 40vw;
        word-break: keep-all;
    }

    .navbar button {
        font-size: 2vw;
        padding: 0 1.5rem 0;
        color: #F0FAF5;
        border: none;
        background: none;
    }
}
@media (width >= 992px) {
    header img {
        height: 12vw;
    }

    .header img:hover {
        animation: squat 0.75s;
    }

    .navbar {
        justify-content: space-evenly;
        margin-left: 55vw;
        word-break: keep-all;
    }

    .navbar button {
        font-size: 1.5vw;
        padding: 0 1.5rem 0;
        color: #F0FAF5;
        border: none;
        background: none;
    }
}

@media (width >= 1400px) {
    header img {
        height: 5vw;
    }

    .header img:hover {
        animation: squat 0.75s;
    }

    .navbar {
        justify-content: space-evenly;
        margin-left: 75vw;
        word-break: keep-all;
    }

    .navbar button {
        font-size: 1vw;
        padding: 0 1.5rem 0;
        color: #F0FAF5;
        border: none;
        background: none;
    }
}
@media (width >= 1920px) {
    header img {
        height: 5vw;
    }
    .header img:hover {
        animation: squat 0.75s;
    }
    .navbar {
        justify-content: space-evenly;
        margin-left: 75vw;
        word-break: keep-all;
    }
    .navbar button {
        font-size: 1vw;
        padding: 0 1.5rem 0;
        color: #F0FAF5;
        border: none;
        background: none;
    }
}
