@import "header.css";
@import "footer.css";
@import "feedElement.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: clip;
    background: #F0FAF5;
}

.logo {
    width: fit-content;
}

/* -- feed section start here -- */
.clickable {
}

#feed-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
}

#removed-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
}
#later-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
}
#liked-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
}
@media ( max-width: 70em ) {
    #feed-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Creates 3 equal columns */
    }
    #removed-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Creates 3 equal columns */
    }
    #later-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Creates 3 equal columns */
    }
    #liked-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Creates 3 equal columns */
    }
}
@media ( max-width: 50em ) {
    #feed-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Creates 3 equal columns */
    }
    #removed-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Creates 3 equal columns */
    }
    #later-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Creates 3 equal columns */
    }
    #liked-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Creates 3 equal columns */
    }
}
